.env
.env.dev
node_modules
dist/

coverage/

# Certificate files
certs/
*.cer
*.pem

# Excluded Transactions in Budget Reporting
excluded_transactions.csv

budgeting-toolkit.config.yaml

# Database backups
*.sql
*.dump
backup.sql

#Mac Specific
Icon?
.DS_Store
.claude
